$brand-main: hsl(0, 0%, 0%);
$brand-secondary: white;
$brand-accent: #6c63ff;
$primary-opaque: rgba(0, 0, 0, 0.05);
$steps-default: #d1e2de;
$brand-danger: hsl(348, 100%, 61%);
$grey-text: #868686;
$grey-background: #f8f8f8;
